<a href="https://colab.research.google.com/github/nkjadhav/Google-Colaboratory/blob/master/Microsoft_Python_Getting_Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print

In [0]:
print('Hello with single quote.')

Hello with single quote.

In [0]:
print("Hello with double quote.")

Hello with double quote.

In [0]:
print("Hello \nWorld..")

Hello
World..

In [0]:
name = input("What is your name :")
print(name)
print() # New Line
print(name)

What is your name :NJ
NJ

NJ

In [0]:
# Debugging with print
print("Adding Numbers")
x = 2+3
print("Performing Division")
y = x / 0 # Intentionally dividing with zero.
print("Completed")

Adding Numbers
Performing Division

ZeroDivisionError: ignored

In [0]:
print("Adding Numbers")
x = 2+3
print("Performing Division")
y = x / 1
print("Completed")

Adding Numbers
Performing Division
Completed

In [0]:
print(type(name))

<class 'str'>

In [0]:
print(type(x))

<class 'int'>

In [0]:
x = 'Hello' + ' ' + 'World!'
print(x) # outputs: Hello World!

Hello World!

# Comment

In [0]:
# I am a comment...
x = 1   # the rest of the line is a comment
        # ... and this is a 3rd comment
text = "# But this isn't a comment because it's a string literal and in quotes."
text
# This is a comment
# that crosses multiple lines

"# But this isn't a comment because it's a string literal and in quotes."

# String

In [0]:
x = 5
print('The number is ' + str(x))

The number is 5

In [0]:
first_name = "Nilkanth"
last_name = "JADHAV"

In [0]:
first_name.upper()

'NILKANTH'

In [0]:
last_name.lower()

'jadhav'

In [0]:
first_name.capitalize() + " " + last_name.capitalize()

'Nilkanth Jadhav'

In [0]:
print("Hello, " + first_name + " " + last_name)

Hello, Nilkanth JADHAV

In [0]:
output = "Hello, {} {}".format(first_name, last_name)
print(output)

Hello, Nilkanth JADHAV

In [0]:
output = "Hello, {1}, {0}".format(first_name, last_name)
print(output)

Hello, JADHAV, Nilkanth

In [0]:
f"Hello, {first_name} {last_name}"

'Hello, Nilkanth JADHAV'

In [0]:
output = f"Hello, {first_name} {last_name}"
print(output)

Hello, Nilkanth JADHAV

# Numbers

In [0]:
pi = 3.14159
print(pi)

3.14159

In [0]:
first_num = 6
second_num = 2
print(first_num + second_num)
print(first_num ** second_num)

8
36

In [0]:
days_in_feb = 28
print(days_in_feb + ' days in feb')
# Python gets confused on diffrent data type operations and throws error.

TypeError: ignored

In [0]:
days_in_feb = 28
print(str(days_in_feb) + ' days in feb')
# typecast

28 days in feb

In [0]:
first_num = "6"
second_num = "2"
print(first_num + second_num)
print(int(first_num) + int(second_num))
print(float(first_num) + float(second_num))

62
8
8.0

In [0]:
# input function assigns variable with string
first_num = input("Enter first number")
second_num = input("Enter second number")
print(first_num + second_num)
print(int(first_num) + int(second_num))
print(float(first_num) + float(second_num))

Enter first number12
Enter second number34
1234
46
46.0

# Date and Time

In [0]:
from datetime import datetime
current_date = datetime.now()
print("Today is : " + str(current_date))

Today is : 2020-02-15 07:20:17.493599

In [0]:
from datetime import datetime, timedelta
today = datetime.now()
print("Today is : " + str(today))

one_day = timedelta(days = 1)
yesterday = today - one_day
print("Yesterday was : " + str(yesterday))

Today is : 2020-02-15 07:24:15.375062
Yesterday was : 2020-02-14 07:24:15.375062

In [0]:
from datetime import datetime
current_date = datetime.now()

print("Day :" + str(current_date.day))
print("Month :" + str(current_date.month))
print("Year :" + str(current_date.year))
print("Hour : " + str(current_date.hour))
print("Minute : " + str(current_date.minute))
print("Second : " + str(current_date.second))

Day :15
Month :2
Year :2020
Hour : 7
Minute : 36
Second : 37

In [0]:
from datetime import datetime
birthday = input("When is your birthday (dd/mm/yyyy)")

birthday_date = datetime.strptime(birthday, "%d/%m/%Y")
print("Birthday :" + str(birthday_date))

When is your birthday (dd/mm/yyyy)15/12/1989
Birthday :1989-12-15 00:00:00

In [0]:
from datetime import datetime
birthday = input("When is your birthday (dd/mm/yyyy)")

birthday_date = datetime.strptime(birthday, "%d/%m/%Y")
print("Birthday :" + str(birthday_date))

one_day = timedelta(days = 1)
yesterday = birthday_date - one_day
print("Day before birthday was : " + str(yesterday))

When is your birthday (dd/mm/yyyy)15/12/1989
Birthday :1989-12-15 00:00:00
Day before birthday was : 1989-12-14 00:00:00

In [0]:
# When date passed is of wrong format
from datetime import datetime
birthday = input("When is your birthday (dd/mm/yyyy)")

birthday_date = datetime.strptime(birthday, "%d/%m/%Y")
print("Birthday :" + str(birthday_date))

When is your birthday (dd/mm/yyyy)12/31/1989

ValueError: ignored

# Error Handling

## Syntax Error

In [0]:
x = 1
y = 1
if x==y # missing :
  print("Success")

SyntaxError: ignored

In [0]:
x = 1
y = 1
if x==y: # missing :
  print("Success")

Success

## Runtime Error

In [0]:
x= 1
y= 0
print(x/y)

ZeroDivisionError: ignored

## Logic Error

In [0]:
x = 100
y = 200
if x<y:
  print(str(x) + " is greater than " + str(y))

100 is greater than 200

## Handling Error

In [0]:
x =20
y = 0

print()
try:
  print(x/y)
except ZeroDivisionError as e:
  print("Divide by zero not allowed.")
else: 
  print("Something else went wrong.")
finally:
  print("This is our cleanup code.")
print()

Divide by zero not allowed.
This is our cleanup code.

# Conditional Logic

In [0]:
price = float(input("Enter price : "))
if price >= 10.00:
  tax = 0.07
  print(tax)
else:
  tax = 0
  print(tax)

Enter price : 12
0.07

In [0]:
price = float(input("Enter price : "))
if price >= 10.00:
  tax = 0.07
else:
  tax = 0
print(tax)

Enter price : 6
0

In [0]:
# String comparisons are case sensitive
country = "INDIA"
if country.lower() == "india":
  print("You are from India.")
else:
 print("You are not from India.")

You are from India.

In [0]:
country = "US"
if country.lower() == "india":
  print("You are from India.")
else:
 print("You are not from India.")

You are not from India.

In [100]:
# More if else conditions
state = input("Which state do you live in?")
tax = 0

if state == "MH":
  tax = 0.05
if state == "TN":
  tax = 0.05
if state == "GJ":
  tax = 0.03
print(tax)

Which state do you live in?MH
0.05

In [101]:
# Multiple if conditions
state = input("Which state do you live in?")
tax = 0

if state == "MH":
  tax = 0.05
if state == "TN":
  tax = 0.05
if state == "GJ":
  tax = 0.03
else:
  tax = 0.00
print(tax)

Which state do you live in?AS
0.0

In [102]:
# Use of elif
state = input("Which state do you live in?")
tax = 0

if state == "MH":
  tax = 0.05
elif state == "TN":
  tax = 0.05
elif state == "GJ":
  tax = 0.03
else:
  tax = 0.00
print(tax)

Which state do you live in?GJ
0.03

In [103]:
# if else conditions with combined conditions
state = input("Which state do you live in?")
tax = 0

if state == "MH" or state == "TN":
  tax = 0.05
elif state == "GJ":
  tax = 0.03
else:
  tax = 0.00
print(tax)

Which state do you live in?TN
0.05

In [104]:
# if else conditions with in 
state = input("Which state do you live in?")
tax = 0

if state in ("MH", "TN", "AP"):
  tax = 0.05
elif state == "GJ":
  tax = 0.03
else:
  tax = 0.00
print(tax)

Which state do you live in?AP
0.05

In [106]:
# Nested if else
country = input("Which Country do you live in?")
tax = 0
if country == "IN":
  state = input("Which state do you live in?")
  if state in ("MH", "TN", "AP"):
    tax = 0.05
  elif state == "GJ":
    tax = 0.03
  else:
    tax = 0.00
else:
  tax = 0.00
print(tax)

Which Country do you live in?IN
Which state do you live in?MH
0.05

In [107]:
# Nested if else
country = input("Which Country do you live in?")
tax = 0
if country == "IN":
  state = input("Which state do you live in?")
  if state in ("MH", "TN", "AP"):
    tax = 0.05
  elif state == "GJ":
    tax = 0.03
  else:
    tax = 0.00
else:
  tax = 0.00
print(tax)

Which Country do you live in?UK
0.0

# Collections

## List - Collection of items

In [108]:
names = ["ABC", "DEF"]
print(names)

['ABC', 'DEF']

In [109]:
data = ["ABC", "DEF", 123]
print(data)

['ABC', 'DEF', 123]

In [110]:
scores = [] # Empty list
scores.append(98)
scores.append(99)
print(scores)
print(scores[1])

[98, 99]
99

## Array - from array import array

In [111]:
from array import array
scores = array('d')
scores.append(97)
scores.append(98)
print(scores)
print(scores[1])

array('d', [97.0, 98.0])
98.0

In [113]:
# Common Operations
names = ["ABC", "PQR"]
print(names)
print(len(names))
names.insert(0, "BBB")
print(names)
names.sort()
print(names)

['ABC', 'PQR']
2
['BBB', 'ABC', 'PQR']
['ABC', 'BBB', 'PQR']

In [117]:
names = ["ASD", "ZXC", "QWE", "PLM", "SDF"]
vip = names[0:2]
guest = names[2:3]
print(vip)
print(guest)

['ASD', 'ZXC']
['QWE']

## Dictionary

In [118]:
person = {"first" : "ABC"}
person["last"] = "ZXC"
print(person)
print(person["first"])

{'first': 'ABC', 'last': 'ZXC'}
ABC

In [126]:
a = {}
a["first"] = "ABC"
a["last"] = "CDF"

b = {"first" : "BNM", "last" : "MKL"}

print(a)
print(b)

people = [a, b]
print(people)

people.append({"first" : "QWE", "last" : "ERT"})
print(people)

presenters = people[0:2]
print(presenters)
print(len(presenters))

{'first': 'ABC', 'last': 'CDF'}
{'first': 'BNM', 'last': 'MKL'}
[{'first': 'ABC', 'last': 'CDF'}, {'first': 'BNM', 'last': 'MKL'}]
[{'first': 'ABC', 'last': 'CDF'}, {'first': 'BNM', 'last': 'MKL'}, {'first': 'QWE', 'last': 'ERT'}]
[{'first': 'ABC', 'last': 'CDF'}, {'first': 'BNM', 'last': 'MKL'}]
2

# Loops

## for

In [127]:
for names in ["ABC", "DEF"]:
  print(names)

ABC
DEF

In [130]:
for index in range(0,3):
  print(index)

0
1
2

## while

In [1]:
names = ["A", "B", "C", "D"]
index = 0
while index < len(names):
  print(names[index])
  index = index +1

A
B
C
D

# Functions

In [5]:
# Repeated Code block
import datetime

first_name = "ABC"
print("Task Completed")
print(datetime.datetime.now())
print()

for x in range(0,5):
  print(x)
print("Task Completed")
print(datetime.datetime.now())
print()

Task Completed
2020-02-15 10:38:48.953311

0
1
2
3
4
Task Completed
2020-02-15 10:38:48.954618

In [7]:
import datetime

def print_time():
  print("Task Completed")
  print(datetime.datetime.now())
  print()

first_name = "ABC"
print_time()

for i in range(0,5):
  print(i)
print_time()

Task Completed
2020-02-15 10:40:44.952847

0
1
2
3
4
Task Completed
2020-02-15 10:40:44.953872

In [8]:
import datetime

def print_time(task_name):
  print(task_name)
  print(datetime.datetime.now())
  print()

first_name = "ABC"
print_time("First name assigned")

for i in range(0,5):
  print(i)
print_time("Loop Completed")

First name assigned
2020-02-15 10:44:55.427542

0
1
2
3
4
Loop Completed
2020-02-15 10:44:55.428890

In [12]:
def get_initial(name):
  initial = name[0:1]
  return initial.upper()

first_name = input("First Name?")
last_name = input("Last Name?")

fn_initial = get_initial(first_name)
ln_initial = get_initial(last_name)

print(f"Your initials are : {fn_initial}{ln_initial}")
print()
print(f"Your initials are : {get_initial(first_name)}{get_initial(last_name)}")

First Name?qwede
Last Name?adwwcd
Your initials are : QA

Your initials are : QA

# Function Parameters

In [14]:
def get_initial(name):
  initial = name[0:1]
  return initial.upper()

first_name = input("First Name?")

print(f"Your initials are : {get_initial(first_name)}")

First Name?qwerty
Your initials are : Q

In [16]:
def get_initial(name, force_upper):
  if force_upper:
    initial = name[0:1].upper()
  else:
    initial = name[0:1]
  return initial

first_name = input("First Name?")

print(f"Your initials are : {get_initial(first_name, True)}") # Change True / False to force_upper

First Name?asd
Your initials are : A

In [20]:
def get_initial(name, force_upper = True): # Default value set here to True
  if force_upper:
    initial = name[0:1].upper()
  else:
    initial = name[0:1]
  return initial

first_name = input("First Name?")
print()
print(f"Your initials are : {get_initial(first_name)}")
print()
print(f"Your initials are : {get_initial(first_name, False)}") # Default value overriden
print()
print(f"Your initials are : {get_initial(force_upper=False, name=first_name)}") # Default value and order got overriden - Named Notation

First Name?asdfg

Your initials are : A

Your initials are : a

Your initials are : a

# Modules and Packages

In [0]:
#  helper.py
 def display(message, is_warning=False):
    if is_warning:
        print('Warning!!')
    print(message)

In [0]:
# import module as namespace
import helpers
helpers.display('Not a warning')

# import all into current namespace
from helpers import *
display('Not a warning')

# import specific items into current namespace
from helpers import display
display('Not a warning')

In [23]:
!pip install colorama

Collecting colorama
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Installing collected packages: colorama
Successfully installed colorama-0.4.3

In [24]:
import colorama

colorama.init()
print(colorama.Fore.RED + 'This is red')

from colorama import *

init()
print(Fore.BLUE + 'This is blue')

from colorama import init, Fore
print(Fore.GREEN + 'This is green')

This is red
This is blue
This is green