<a href="https://colab.research.google.com/github/nkjadhav/Google-Colaboratory/blob/master/Print_Comment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print

In [7]:
print('Hello with single quote.')

Hello with single quote.

In [8]:
print("Hello with double quote.")

Hello with double quote.

In [9]:
print("Hello \nWorld..")

Hello
World..

In [17]:
name = input("What is your name :")
print(name)
print() # New Line
print(name)

What is your name :NJ
NJ

NJ

In [15]:
# Debugging with print
print("Adding Numbers")
x = 2+3
print("Performing Division")
y = x / 0 # Intentionally dividing with zero.
print("Completed")

Adding Numbers
Performing Division

ZeroDivisionError: ignored

In [14]:
print("Adding Numbers")
x = 2+3
print("Performing Division")
y = x / 1
print("Completed")

Adding Numbers
Performing Division
Completed

In [18]:
print(type(name))

<class 'str'>

In [19]:
print(type(x))

<class 'int'>

In [20]:
x = 'Hello' + ' ' + 'World!'
print(x) # outputs: Hello World!

Hello World!

# Comment

In [22]:
# I am a comment...
x = 1   # the rest of the line is a comment
        # ... and this is a 3rd comment
text = "# But this isn't a comment because it's a string literal and in quotes."
text
# This is a comment
# that crosses multiple lines

"# But this isn't a comment because it's a string literal and in quotes."

# String

In [23]:
x = 5
print('The number is ' + str(x))

The number is 5

In [0]:
first_name = "Nilkanth"
last_name = "JADHAV"

In [25]:
first_name.upper()

'NILKANTH'

In [26]:
last_name.lower()

'jadhav'

In [27]:
first_name.capitalize() + " " + last_name.capitalize()

'Nilkanth Jadhav'

In [29]:
print("Hello, " + first_name + " " + last_name)

Hello, Nilkanth JADHAV

In [33]:
output = "Hello, {} {}".format(first_name, last_name)
print(output)

Hello, Nilkanth JADHAV

In [35]:
output = "Hello, {1}, {0}".format(first_name, last_name)
print(output)

Hello, JADHAV, Nilkanth

In [37]:
f"Hello, {first_name} {last_name}"

'Hello, Nilkanth JADHAV'

In [38]:
output = f"Hello, {first_name} {last_name}"
print(output)

Hello, Nilkanth JADHAV

# Numbers

In [39]:
pi = 3.14159
print(pi)

3.14159

In [42]:
first_num = 6
second_num = 2
print(first_num + second_num)
print(first_num ** second_num)

8
36

In [45]:
days_in_feb = 28
print(days_in_feb + ' days in feb')
# Python gets confused on diffrent data type operations and throws error.

TypeError: ignored

In [46]:
days_in_feb = 28
print(str(days_in_feb) + ' days in feb')
# typecast

28 days in feb

In [48]:
first_num = "6"
second_num = "2"
print(first_num + second_num)
print(int(first_num) + int(second_num))
print(float(first_num) + float(second_num))

62
8
8.0

In [51]:
# input function assigns variable with string
first_num = input("Enter first number")
second_num = input("Enter second number")
print(first_num + second_num)
print(int(first_num) + int(second_num))
print(float(first_num) + float(second_num))

Enter first number12
Enter second number34
1234
46
46.0

# Date and Time

In [52]:
from datetime import datetime
current_date = datetime.now()
print("Today is : " + str(current_date))

Today is : 2020-02-15 07:20:17.493599

In [58]:
from datetime import datetime, timedelta
today = datetime.now()
print("Today is : " + str(today))

one_day = timedelta(days = 1)
yesterday = today - one_day
print("Yesterday was : " + str(yesterday))

Today is : 2020-02-15 07:24:15.375062
Yesterday was : 2020-02-14 07:24:15.375062

In [67]:
from datetime import datetime
current_date = datetime.now()

print("Day :" + str(current_date.day))
print("Month :" + str(current_date.month))
print("Year :" + str(current_date.year))
print("Hour : " + str(current_date.hour))
print("Minute : " + str(current_date.minute))
print("Second : " + str(current_date.second))

Day :15
Month :2
Year :2020
Hour : 7
Minute : 36
Second : 37

In [61]:
from datetime import datetime
birthday = input("When is your birthday (dd/mm/yyyy)")

birthday_date = datetime.strptime(birthday, "%d/%m/%Y")
print("Birthday :" + str(birthday_date))

When is your birthday (dd/mm/yyyy)15/12/1989
Birthday :1989-12-15 00:00:00

In [64]:
from datetime import datetime
birthday = input("When is your birthday (dd/mm/yyyy)")

birthday_date = datetime.strptime(birthday, "%d/%m/%Y")
print("Birthday :" + str(birthday_date))

one_day = timedelta(days = 1)
yesterday = birthday_date - one_day
print("Day before birthday was : " + str(yesterday))

When is your birthday (dd/mm/yyyy)15/12/1989
Birthday :1989-12-15 00:00:00
Day before birthday was : 1989-12-14 00:00:00

In [66]:
# When date passed is of wrong format
from datetime import datetime
birthday = input("When is your birthday (dd/mm/yyyy)")

birthday_date = datetime.strptime(birthday, "%d/%m/%Y")
print("Birthday :" + str(birthday_date))

When is your birthday (dd/mm/yyyy)12/31/1989

ValueError: ignored

# Error Handling

## Syntax Error

In [71]:
x = 1
y = 1
if x==y # missing :
  print("Success")

SyntaxError: ignored

In [72]:
x = 1
y = 1
if x==y: # missing :
  print("Success")

Success

## Runtime Error

In [73]:
x= 1
y= 0
print(x/y)

ZeroDivisionError: ignored

## Logic Error

In [74]:
x = 100
y = 200
if x<y:
  print(str(x) + " is greater than " + str(y))

100 is greater than 200

## Handling Error

In [81]:
x =20
y = 0

print()
try:
  print(x/y)
except ZeroDivisionError as e:
  print("Divide by zero not allowed.")
else: 
  print("Something else went wrong.")
finally:
  print("This is our cleanup code.")
print()

Divide by zero not allowed.
This is our cleanup code.

# Conditional Logic

In [82]:
price = float(input("Enter price : "))
if price >= 10.00:
  tax = 0.07
  print(tax)
else:
  tax = 0
  print(tax)

Enter price : 12
0.07

In [84]:
price = float(input("Enter price : "))
if price >= 10.00:
  tax = 0.07
else:
  tax = 0
print(tax)

Enter price : 6
0

In [88]:
# String comparisons are case sensitive
country = "INDIA"
if country.lower() == "india":
  print("You are from India.")
else:
 print("You are not from India.")

You are from India.

In [89]:
country = "US"
if country.lower() == "india":
  print("You are from India.")
else:
 print("You are not from India.")

You are not from India.