<a href="https://colab.research.google.com/github/nkjadhav/Google-Colaboratory/blob/master/Print_Comment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print

In [7]:
print('Hello with single quote.')

Hello with single quote.

In [8]:
print("Hello with double quote.")

Hello with double quote.

In [9]:
print("Hello \nWorld..")

Hello
World..

In [17]:
name = input("What is your name :")
print(name)
print() # New Line
print(name)

What is your name :NJ
NJ

NJ

In [15]:
# Debugging with print
print("Adding Numbers")
x = 2+3
print("Performing Division")
y = x / 0 # Intentionally dividing with zero.
print("Completed")

Adding Numbers
Performing Division

ZeroDivisionError: ignored

In [14]:
print("Adding Numbers")
x = 2+3
print("Performing Division")
y = x / 1
print("Completed")

Adding Numbers
Performing Division
Completed

In [18]:
print(type(name))

<class 'str'>

In [19]:
print(type(x))

<class 'int'>

In [20]:
x = 'Hello' + ' ' + 'World!'
print(x) # outputs: Hello World!

Hello World!

# Comment

In [22]:
# I am a comment...
x = 1   # the rest of the line is a comment
        # ... and this is a 3rd comment
text = "# But this isn't a comment because it's a string literal and in quotes."
text
# This is a comment
# that crosses multiple lines

"# But this isn't a comment because it's a string literal and in quotes."

# String

In [23]:
x = 5
print('The number is ' + str(x))

The number is 5

In [0]:
first_name = "Nilkanth"
last_name = "JADHAV"

In [25]:
first_name.upper()

'NILKANTH'

In [26]:
last_name.lower()

'jadhav'

In [27]:
first_name.capitalize() + " " + last_name.capitalize()

'Nilkanth Jadhav'

In [29]:
print("Hello, " + first_name + " " + last_name)

Hello, Nilkanth JADHAV

In [33]:
output = "Hello, {} {}".format(first_name, last_name)
print(output)

Hello, Nilkanth JADHAV

In [35]:
output = "Hello, {1}, {0}".format(first_name, last_name)
print(output)

Hello, JADHAV, Nilkanth

In [37]:
f"Hello, {first_name} {last_name}"

'Hello, Nilkanth JADHAV'

In [38]:
output = f"Hello, {first_name} {last_name}"
print(output)

Hello, Nilkanth JADHAV

# Numbers

In [39]:
pi = 3.14159
print(pi)

3.14159

In [42]:
first_num = 6
second_num = 2
print(first_num + second_num)
print(first_num ** second_num)

8
36

In [45]:
days_in_feb = 28
print(days_in_feb + ' days in feb')
# Python gets confused on diffrent data type operations and throws error.

TypeError: ignored

In [46]:
days_in_feb = 28
print(str(days_in_feb) + ' days in feb')
# typecast

28 days in feb

In [48]:
first_num = "6"
second_num = "2"
print(first_num + second_num)
print(int(first_num) + int(second_num))
print(float(first_num) + float(second_num))

62
8
8.0

In [51]:
# input function assigns variable with string
first_num = input("Enter first number")
second_num = input("Enter second number")
print(first_num + second_num)
print(int(first_num) + int(second_num))
print(float(first_num) + float(second_num))

Enter first number12
Enter second number34
1234
46
46.0